@import '../../css/variables';

.container {
  display: flex;
  justify-content: flex-end;
  top: 5vh;
  position: fixed;
  width: 100%;
  background-color: rgba(12,16,19,.9);
  z-index: 9999;
  transition: 600ms;
}

.menu {
  width: 45%;
  display: flex;
  justify-content: space-between;
  font-size: clamp(18px, 0.3em, 26px);
  padding: 0 3%;

  a {
    color: $white-color;
    text-decoration: none;
    font-family: $sections-sub-title-font-family;
    padding: 3% 0;

    &:hover {
      transform: scale(1.2);
      transition: transform 250ms;
    }

    li {
      list-style-type: none;
    }
  }
}

.element {
  text-decoration: none;
  position: relative;
}

.element::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: $main-orange;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.element:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (max-width: $xs-screen) {
  .menu { display: none; }
}
