//Colors
$main-orange: rgba(243, 159, 24, 0.9);
$red-errors: #cc0017;
$green-succeed: #33a533;
$white-color: #ffffff;
$black-color: rgba(12, 16, 19, 0.9);

//Text sizes
$links-and-cta-font-size: clamp(100%, 1.1em, 27px);

//Devices sizes
$xs-screen: 450px;
$md-screen: 700px;
$lg-screen: 1024px;

//Fonts
$section-title-font-family: 'CODE light';
$sections-sub-title-font-family: 'CODE bold';

@font-face {
  font-family: 'CODE light';
  font-style: normal;
  font-weight: 200;
  src: url('../public/assets/fonts/CODE-light.otf');
}

@font-face {
  font-family: 'CODE bold';
  font-style: normal;
  font-weight: 600;
  src: url('../public/assets/fonts/CODE-bold.otf');
}