@import '../../variables';

.your-data-container {
  display: flex;
  padding: 0 2%;
}

.items-wrapper { width: 100%; }

.your-data-text {
  text-align: justify;
  font-family: Arial, serif;
}

.your-data-items {
  display: flex;
  align-items: center;
  height: 40vh;
  position: relative;
  transition: all 0.3s;

  img {
    width: 20%;
    height: 50%;
  }

  p {
    padding: 0 3%;
    text-align: left;
  }
}

.your-data-title {
  font-family: $sections-sub-title-font-family;
  text-align: right;
  padding-right: 8%;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.your-data-icon {
  width: 60%;
}
.your-data-img {
  height: 100%;
  width: 100%;
}

.your-data-rhombus-container {
  display: none;
}

.rhombus {
  width: 45%;
  height: 45%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.3s;

  //Good way to apply style to siblings
  /*~ .third {
      width: 45%;
      height: 45%;
    }*/
}

.left {
  top: 0;
  bottom: 0;
  background-color: rgba(12, 16, 19, 0.9);
  margin-top: auto;
  margin-bottom: auto;
}

.top {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(243, 159, 24);

}

.right {
  top: 0;
  bottom: 0;
  right: -30%;
  margin-top: auto;
  margin-bottom: auto;
  width: 75%;
  height: 75%;
}

.bottom {
  right: 0;
  left: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(243, 159, 24);
}

.rhombus-hover {
  width: 55%;
  height: 55%;
}

@media (min-width: $md-screen) {
  .your-data-container {
    height: 60vh;
    padding: 0 6% 1%;
  }

  .your-data-title { margin-bottom: 0; }

  .items-wrapper {
    width: 60%;
    padding: 2% 7% 2% 2%;
  }

  .your-data-rhombus-container {
    display: initial;
    position: relative;
    width: 35%;
  }

  .your-data-items {
    height: calc(100%/3);
    padding: 0 9%;

    img {
      width: 20%;
      height: 100%;
    }
  }

  .left {
    &:hover {
      width: 55%;
      height: 55%;
    }
  }

  .top {
    &:hover {
      width: 55%;
      height: 55%;
    }
  }

  .bottom {
    &:hover {
      width: 55%;
      height: 55%;
    }
  }

  .hover-element {
    transition: all 0.3s;
    background-color: #c8c8c8;
    left: 12%;
    height: 40%;

    p { font-weight: 600; }

    img {
      width: 25%;
    }
  }
}