@import '../../variables';

.three-section {
    display: flex;
    background-image: url('../assets/images/work-img.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    flex-direction: column;
}

#black-box {
    background-color: rgb(12, 16, 19);
}

.three-logo {
    width: 40%;
    height: 40%;
    background-color: $main-orange;
}

.three-text-container {
    visibility: hidden;
    transition: opacity 200ms, visibility 200ms;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.52);
    padding: 5%;
    border-radius: 5px;
}

.three-text {
    text-align: center;
}

.three-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    &:hover {
        .three-arrow {
            height: 40px;
        }

        .three-text-container {
            visibility: visible;
            opacity: 1;
        }
    }
}

.three-logo-container:nth-child(even) {
    .three-logo {
        background-color: red;
    }
}

.three-arrow {
    width: 20%;
    height: 0;
    background: $main-orange;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    transition: all 0.3s;
}

@media (max-width: $xs-screen) {
    .three-logo-container {
        height: 65vh;
    }

    .visibleClass {
        .three-arrow {
            height: 40px;
        }

        .three-text-container {
            visibility: visible;
            opacity: 1;
        }
    }
}

@media (min-width: $md-screen) {
    .three-section {
        flex-direction: row;
        height: 70vh;
        margin-top: 10%;
    }

    .three-logo-container {
        top: 30%;
        width: calc(100% / 3);
    }

    .three-logo {
        width: 30%;
        height: 30%;
    }
}