@import '../../css/variables';

.text {
  display: none;
  text-align: center;
  margin: 10vh 5%;
  font-size: clamp(30px, 2rem, 50px);
  font-family: Arial, serif;
  line-height: clamp(30px, 2rem, 50px);
}
