@import '../../css/variables';

.container {
    display: flex;
    background-color: rgb(12, 16, 19);
    color: $white-color;
    flex-direction: column;
}

.item:nth-child(even) {
    background-color: $main-orange;
    color: rgb(12, 16, 19);
}

.item {
    transition: all 1s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;

    .item_image {
        width: 100%;
        height: 80%;
        transition: all 0.3s ;
        background-size: cover;
        background-position: center;
    }

    .item_description {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        height: 0;
        text-align: center;
    }
}

.item:hover {
    transition: all 1.5ms;

    .item_image {
        height: 0;
        position: relative;
        top: 3rem;
        visibility: hidden;
        opacity: 0;
    }

    .item_description {
        visibility: visible;
        opacity: 1;
        height: 80%;
        line-height: 1.5rem;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .item_title {
        transition: all 0.5s;
        margin: 3% 0;
    }
}

.item_title{
    font-family: $section-title-font-family;
    text-align: center;
    letter-spacing: 1.5px;
}

.item_text {
    margin: 0 5% 5%;
    line-height: 2.8rem;
}

@media (max-width: $xs-screen) {
    .item {
        height: 70vh;

        .item_image {
            height: 0;
            position: relative;
            top: 3rem;
            visibility: hidden;
            opacity: 0;
        }

        .item_description {
            visibility: visible;
            opacity: 1;
            height: 60%;
            line-height: 1.5rem;
            display: flex;
            padding-top: 5%;
        }

        .item_title {
            transition: all 0.5s;
            margin: 20% 10% 10% 10%;
            font-size: 7rem;
        }
    }
}

@media (min-width: $md-screen) {
    .container {
       height: 60vh;
       flex-direction: row;
    }

    .item {
        width: calc(100% / 3);
        height: 100%;
    }

    .item_text { line-height: 1rem; }
}