@import "../../variables.scss";

.contact-section {
  position: relative;
  z-index: 1;
}
.contact-section::after {
  background-image:
          linear-gradient(to left, rgba(245, 246, 252, 0.01), rgba(255, 253, 253, 0.75)),
          url('../../components/assets/images/image7.jpg');
  background-size: cover;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.contact-title-section {
  text-align: right;
  position: relative;
  bottom: 35px;
  right: 20px;
  z-index: 2;

  .contact-first-title {
    font-size: 80px;
    font-family: $sections-sub-title-font-family;
    margin-bottom: 10px;
  }
  .contact-second-title {
    margin-top: 0;
    font-family: $section-title-font-family;
    font-size: 60px;
  }
}
.contact-border {
  width: 70%;
  position: relative;
  left: 5%;
  padding: 60px 0 50px 0;
  border: 10px solid $main-orange;
}
.contact-form {
  display: inline;
  align-content: start;
  height: 100vh;
}
.contact-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  width: 35%;
  padding-left: 5px;
}
.contact-input-radio {
  margin: 5px 7px;
  width: 20px;
}
.contact-input-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 80%;
  width: 35%;
  padding-left: 5px;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-item {
  text-align: left;
  padding: 7px 0 7px 40px;
}
.contact-label {
  font-family: Arial, serif;
  display: block;
  font-size: 20px;
}