@import "../../variables.scss";

.contact-section {
  background-image: url('../assets/images/image7.jpg');
  background-size: cover;
}

.contact-title-section {
  text-align: right;
  position: relative;
  bottom: 35px;
  right: 20px;

  .contact-first-title {
    font-size: 80px;
    font-family: $sections-sub-title-font-family;
    margin-bottom: 10px;
  }
  .contact-second-title {
    margin-top: 0;
    font-family: $section-title-font-family;
    font-size: 60px;
  }
}


.contact-form {
  display: inline;
  align-content: start;
  height: 100vh;
}
.contact-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px 40px;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-item {
  text-align: left;
  padding: 7px 0 7px 40px;
}
.contact-label {
  font-family: Arial, serif;
  display: block;
  font-size: 20px;
}