.contact-section {
    background-image: url("https://trello-attachments.s3.amazonaws.com/5f1f8587dcee350d781e86fa/500x333/39d7e55e481be7a26c319884d2a15770/3.jpg");
    background-size: cover;
}
.contact-form {
    display: inline;
    align-content: start;
}
.contact-input {
    padding: 12px 140px 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contact-item {
    text-align: left;
    padding-left: 40px;
}
.contact-label {
    font-size: 23px;
    display: block;
}