.contact-section {
    background-image: url("https://trello-attachments.s3.amazonaws.com/5f1f8587dcee350d781e86fa/500x333/39d7e55e481be7a26c319884d2a15770/3.jpg");
    background-size: cover;
}
.contact-form {
    align-content:
}