@import '../../variables.scss';

.contact-section {
  margin-top: 20%;
  position: relative;
  z-index: 1;
}

.contact-section::after {
  background-image:
          linear-gradient(to left, rgba(245, 246, 252, 0.01), rgba(255, 253, 253, 0.75)),
          url('../../components/assets/images/image7.jpg');
  background-size: cover;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.contact-title-section {
  text-align: right;
  position: relative;
  bottom: 3vh;
  right: 2%;
  z-index: 2;

  .contact-first-title {
    font-size: clamp(50px, 5vw, 80px);
    font-family: $sections-sub-title-font-family;
    margin-bottom: 10px;
  }
  .contact-second-title {
    margin-top: 0;
    font-family: $section-title-font-family;
    font-size: clamp(50px, 5vw, 60px);
  }
}

.contact-border {
  width: 90%;
  padding: 5% 2%;
  position: relative;
  left: 5%;
  border: 10px solid $main-orange;
}

.contact-form { width: 100%; }

.contact-item {
  text-align: left;
  padding: 2% 0;
}

.contact-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  transition: 300ms;
}

.contact-input.error {
  border: 3px solid $red-errors;
  background-color: #cc001712;
  font-weight: 600;
}

.contact-input-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 80%;
  width: 100%;
}

.error-message {
  font-size: clamp(16px, 0.2em, 22px);
  color: $red-errors;
}

button[type=submit] {
  background-color: $main-orange;
  color: $white-color;
  padding: 3% 10%;
  border: 2px solid $main-orange;
  cursor: pointer;
  transition: 300ms;
}

button[type=submit]:hover {
  background-color: $white-color;
  color: $main-orange;
  border: 2px solid $main-orange;
}

.message {
  min-height: 3em;
  border: 1px solid;
  border-radius: 2px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 { font-size: clamp(24px, 0.2em, 30px); }
  p { font-size: clamp(16px, 0.2em, 24px); }
}

.message.error {
  background-color: #cc001712;
  color: $red-errors;
  border: 2px solid $red-errors;
}

.message.succeed {
  background-color: #1ec61e40;
  color: $green-succeed;
  border: 2px solid $green-succeed;
}

@media (min-width: $md-screen) {
  .contact-section { margin-top: 10% }

  .contact-form { width: 50%; }

  .contact-title-section {
    bottom: 5vh;
  }

  .contact-border {
    width: 70%;
    padding: 5% 2%;
  }
}