@import '../../variables';

.header-wrapper {
  display: flex;
  justify-content: flex-end;
  top: 5vh;
  position: fixed;
  width: 100%;
  background-color: rgba(12,16,19,.9);
  z-index: 9999;
}

.nav-menu {
  width: 45%;
  display: flex;
  justify-content: space-between;
  font-size: clamp(20px, 0.5em, 30px);
  padding: 0 3%;

  a {
    color: #ffffff;
    text-decoration: none;
    font-family: $sections-sub-title-font-family;
    li {
      list-style-type: none;
    }
  }
}

@media (max-width: $xs-screen) {
  #large-screen-menu { display: none; }
}