.header {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding-top: 20px;
  position: fixed;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 20px;
  z-index: 100;
}

a {
  width: 50px;
  color: #ffffff;
  font-family: Arial, serif;
  padding: 25px;
  margin-right: 25px;
  font-size: large;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}