@import '../../variables';

.header-wrapper {
  display: flex;
  justify-content: flex-end;
  top: 5vh;
  position: fixed;
  width: 100%;
  background-color: rgba(12,16,19,.9);
  z-index: 9999;
  transition: 600ms;
}

.nav-menu {
  width: 45%;
  display: flex;
  justify-content: space-between;
  font-size: clamp(18px, 0.3em, 26px);
  padding: 0 3%;

  a {
    color: $white-color;
    text-decoration: none;
    font-family: $sections-sub-title-font-family;
    li {
      list-style-type: none;
    }
  }
}

@media (max-width: $xs-screen) {
  #large-screen-menu { display: none; }
}

@media (min-width: $md-screen) {
  .sticky.header-wrapper {
    top: 0;
  }
}