.imagenes-container {
    display: flex;
    justify-content: space-evenly;
}

.section-whoweare {
    text-align: right;

}

.description-text {
    text-align: right;

}

.section-ourwork {

}

.our-work-image-list-container {
    display: flex;
    justify-content: space-evenly;
}