@import '../../css/variables';

.section {
    display: flex;
    background-image: url('/assets/images/work-img.jpg');
    background-size: 100% 135%;
    background-repeat: no-repeat;
    position: relative;
    flex-direction: column;
}

.black_box {
    .logo, .arrow {
        background-color: rgb(12, 16, 19);
    }
}

.logo {
    width: 40%;
    height: 40%;
    background-color: $main-orange;
}

.text_container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 600ms, visibility 600ms;
    width: 70%;
    background-color: hsla(0,0%,100%,.7);
    padding: 5%;
    border-radius: 5px;
    text-align: center;
}

.logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    &:hover {
        .arrow {
            height: 40px;
        }

        .text_container {
            visibility: visible;
            opacity: 1;
        }
    }
}

//.logo_container:nth-child(even) {
//    .logo {
//        background-color: red;
//    }
//}

.arrow {
    width: 20%;
    height: 0;
    background: $main-orange;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    transition: all 0.3s;
}

@media (max-width: $xs-screen) {
    .logo_container {
        height: 65vh;

        .arrow {
            height: 40px;
        }

        .text {
            visibility: visible;
            opacity: 1;
        }
    }
}

@media (min-width: $md-screen) {
    .section {
        flex-direction: row;
        height: 70vh;
        margin-top: 10%;
    }

    .logo_container {
        top: 30%;
        width: calc(100% / 3);
    }

    .logo {
        width: 30%;
        height: 30%;
    }
}