@import "../../variables";

.our-work-title {
  font-size: 60px;
}

.our-work-container {
  height: 100vh;
  margin-bottom: 300px;
}
.our-work-text {
  text-align: center;
  margin: 40px 60px 40px 60px;
  font-size: 1.3rem;
  font-family: Arial, serif;
  line-height: 1.5rem;
}

.carousel-root, .carousel-slider, .slider-wrapper, .slider {
  height: 100%;
}