@import "../../variables";

.our-work-title {
  font-size: 60px;
}

.our-work-container {
  height: 100vh;
  margin-bottom: 200px;
}

.carousel-root, .carousel-slider, .slider-wrapper, .slider {
  height: 100%;
}