.banner {
    height: 500px;
    background-image: url("https://trello-attachments.s3.amazonaws.com/5e9d93537e6e747ea58f15c5/5f1f8587dcee350d781e86fa/c604b3e8f844973cb1613c047a2fc620/1.jpg");
    background-size: cover;
    margin-top: 0;
}

.text {
    font-family: "Candara", sans-serif;
    font-size: 50px;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
}